
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Iniciar Sesión en Dristrapp</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email">
                    
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                    </div>
                    <button  type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </form>
                <p>¿Crear una cuenta? <a [routerLink]="['/register']">Registarse</a></p>
            </div>
        </div>
    </div>
</div>
