<app-navbar></app-navbar>
<div class="container">
  <div class="starter-template">
    <div class="row">
      <div class="col-md-6 mx-auto mt-5">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center">REGISTRARSE</h1> <br>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()" novalidate>
              <div class="form-group">
                <label for="numeroPermiso">Número de Permiso</label>
                <input type="text" class="form-control" formControlName="numeroPermiso" [ngClass]="{ 'is-invalid': submitted && f.numeroPermiso.errors }"/>
                <div *ngIf="submitted && f.numeroPermiso.errors" class="invalid-feedback">
                  <div *ngIf="f.numeroPermiso.errors.required">Por favor, ingresar el número de permiso</div>
                  <div *ngIf="registerForm.get('numeroPermiso').hasError('pattern')">El número de permiso es incorrecto.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="ruc">RUC</label>
                <input type="text" class="form-control" formControlName="ruc" [ngClass]="{ 'is-invalid': submitted && f.ruc.errors }"/>
                <div *ngIf="submitted && f.ruc.errors" class="invalid-feedback">
                  <div *ngIf="f.ruc.errors.required">Por favor, ingresar el RUC</div>
                  <div *ngIf="registerForm.get('ruc').hasError('maxlenght')">El número de RUC es incorrecto.</div>
                  <div *ngIf="registerForm.get('ruc').hasError('pattern')">El número de RUC es incorrecto.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="nombreComercial">Nombre Comercial</label>
                <input type="text" class="form-control" formControlName="nombreComercial" [ngClass]="{ 'is-invalid': submitted && f.nombreComercial.errors }"/>
                <div *ngIf="submitted && f.nombreComercial.errors" class="invalid-feedback">
                  <div *ngIf="f.nombreComercial.errors.required">Por favor, ingresar el Nombre Comercial</div>
                </div>
              </div>
              <div class="form-group">
                <label for="representanteLegal">Representante Legal</label>
                <input type="text" class="form-control" formControlName="representanteLegal" [ngClass]="{ 'is-invalid': submitted && f.representanteLegal.errors }"/>
                <div *ngIf="submitted && f.representanteLegal.errors" class="invalid-feedback">
                  <div *ngIf="f.representanteLegal.errors.required">Por favor, ingresar el nombre del Representante Legal</div>
                </div>
              </div>
              <div class="form-group">
                <label for="tipoEstablecimiento">Tipo de Establecimiento</label>
                <input type="text" class="form-control" formControlName="tipoEstablecimiento" [ngClass]="{ 'is-invalid': submitted && f.tipoEstablecimiento.errors }"/>
                <div *ngIf="submitted && f.tipoEstablecimiento.errors" class="invalid-feedback">
                  <div *ngIf="f.tipoEstablecimiento.errors.required">Por favor, ingresar el Tipo de Establecimiento</div>
                </div>
              </div>
              <div class="form-group">
                <label for="nombreAdministrador">Teléfono</label>
                <input type="text" class="form-control" formControlName="telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"/>
                <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
                  <div *ngIf="f.telefono.errors.required">Por favor, ingresar el Teléfono</div>
                  <p *ngIf="registerForm.get('telefono').hasError('pattern')">Número de teléfono incorrecto</p>
                </div>
              </div>
              <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" formControlName="direccion" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }"/>
                <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
                  <div *ngIf="f.direccion.errors.required">Por favor, ingresar la Dirección</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">El correo electrónico es obligatorio</div>
                  <div *ngIf="f.email.errors.email">Por favor, ingresar email correcto</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" autocomplete="on" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Por favor, ingresar su contraseña</div>
                  <div *ngIf="registerForm.get('password').hasError('pattern')">La contraseña debe tener entre 8 y 12 caracteres, al menos un dígito, al menos una minúscula, al menos una mayúscula y al menos un caracter no alfanumérico.</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                Registrarse
              </button>
            </form>
            <div class="form-group mt-3">
              <p>Tiene usted una cuenta?<a [routerLink]="['/login']"> Ingresar </a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>