<div class="card mt-5">
    <div class="card-body">
        <form #productForm="ngForm" (NgSubmit)="onSubmit(productForm)">
            <div class="form-group">
                <input
                type="text"
                class="form-control"
                name="name"
                #name="ngModel"
                [(ngModel)]="productService.selectedProduct.name"
                placeholder="Agrega un Nombre del Producto"
                >
            </div>

            <div class="form-group">
                <input
                type="text"
                class="form-control"
                name="category"
                #category="ngModel"
                [(ngModel)]="productService.selectedProduct.category"
                placeholder="Agrega una Categoria"
                >
            </div>

            <div class="form-group">
                <input
                type="text"
                class="form-control"
                name="description"
                #description="ngModel"
                [(ngModel)]="productService.selectedProduct.description"
                placeholder="Agrega una Descripcion"
                >
            </div>

            <div class="form-group">
                <input
                type="number"
                class="form-control"
                name="price"
                #price="ngModel"
                [(ngModel)]="productService.selectedProduct.price"
                placeholder="Agrega un Precio al Producto"
                >
            </div>

            <div class="form-group">
                <input
                type="number"
                class="form-control"
                name="stock"
                #stock="ngModel"
                [(ngModel)]="productService.selectedProduct.stock"
                placeholder="Agrega la Disponibilidad"
                >
            </div>

            <div class="form-group">
                <input
                type="url"
                class="form-control"
                name="image"
                #image="ngModel"
                [(ngModel)]="productService.selectedProduct.image"
                placeholder="Agrega una Imagen"
                >
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i> Añadir Producto
                </button>
                <button class="btn btn-secondary" type="reset" (onClick)="resetForm(productForm)">
                    <i class="fas fa-sync-alt"></i>Limpiar
                </button>

            </div>
        </form>
    </div>
</div> 